@media (width <= 768px) {
    #logo {
        display: none;
    }
}

@keyframes logo-anim {
    from {
        transform: rotate(-3deg);
    }
    to {
        transform: rotate(3deg);
    }
}

#logo {
    height: 30vh;
    margin-bottom: -50px;
    margin-top: -30px;
    animation: logo-anim 1s ease-in-out 1s infinite alternate;
}